<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>


<style>
p {
	text-align: center;
}

footer {
	position: fixed;
	padding: 10px 10px 0px 10px;
	bottom: 0;
	width: 100%;
	/* Height of the footer*/
	height: 80px;
	background: grey;
}
</style>

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css">

<!-- JavaScript Bundle with Popper -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css">
<script src="https://cdn.tailwindcss.com"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
	integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>


	<header class="bg-violet-400">
		<div
			class="container mx-auto py-4 px-5 flex flex-wrap items-center justify-between">
			<a href="#" class="flex items-center"> <span
				class="font-bold text-xl text-gray-900"> <!-- <img alt="" src="../../images/pexels-pixabay-159711.jpg" style="height: 50px; width: 50px;"> -->
					<i class="fa-solid fa-book fa-2xl"></i>
			</span>
			</a>
			<div class="flex items-center">
				<nav class="text-gray-600 font-medium">
					<a href="/admin/home" class="mx-3 py-2 hover:text-gray-900">Home</a>
					<a href="/admin/admin-detail" class="mx-3 py-2 hover:text-gray-900">Admin-Detail</a>
					<a href="/admin/student-detail"
						class="mx-3 py-2 hover:text-gray-900">Student-Detail</a> <a
						href="/admin/about" class="mx-3 py-2 hover:text-gray-900">About</a>
					<a th:href="@{/logout}" class="mx-3 py-2 hover:text-gray-900">Logout</a>

				</nav>
			</div>
		</div>
	</header>






	<div class="container">

		<form class="max-w-md mx-auto" th:object="${admin}"
			th:action="@{/admin/esaveadmin/{id} (id=${admin.regdId})}"
			method="post">
			<div class="mb-4">
				<input
					class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
					id="regdId" name="regdId" th:field="*{regdId}" type="hidden"
					placeholder="Regd Id" required>
			</div>
			<div class="mb-4">
				<label class="block text-gray-700 font-bold mb-2" for="firstName">
					First Name </label> <input
					class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
					id="firstName" name="firstName" th:field="*{firstName}" type="text"
					placeholder="First Name" required>
			</div>
			<div class="mb-4">
				<label class="block text-gray-700 font-bold mb-2" for="lastName">
					Last Name </label> <input
					class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
					id="lastName" name="lastName" th:field="*{lastName}" type="text"
					placeholder="Last Name" required>
			</div>
			<div class="mb-4">
				<label class="block text-gray-700 font-bold mb-2" for="phone">
					Phone </label> <input
					class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
					id="phone" name="phone" th:field="*{phone}" type="tel"
					placeholder="Phone" required>
			</div>
			<div class="mb-4">
				<label class="block text-gray-700 font-bold mb-2" for="email">
					Email </label> <input
					class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
					id="email" name="email" th:field="*{email}" type="email"
					placeholder="Email" required>
			</div>
			<div class="mb-4">
				<label class="block text-gray-700 font-bold mb-2" for="email">
					Join Year </label> <input
					class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
					id="year" name="year" th:field="*{year}" type="date"
					placeholder="Year" required>
			</div>
			<div class="mb-4">
				<label class="block text-gray-700 font-bold mb-2" for="password">
					Password </label> <input
					class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
					id="password" name="password" th:field="*{password}"
					type="password" placeholder="Password" required>
			</div>
			<div class="flex items-center justify-between">
				<button
					class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
					type="submit">Save</button>
			</div>
		</form>

	</div>






	<footer class="bg-purple-200 py-3">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<p>@saumyaranajn</p>
				</div>
			</div>
		</div>
	</footer>


</body>
</html>